<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725949697815-0ipipeslk2jrjm8bsr8d47mevgrr29sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725949697815-0ipipeslk2jrjm8bsr8d47mevgrr29sj</string>
	<key>API_KEY</key>
	<string>AIzaSyCl8bDJKvCr9E2gU8ka_pCLXK1syO_Vfmc</string>
	<key>GCM_SENDER_ID</key>
	<string>725949697815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecombuyer.ourbaby</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-357fc</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-357fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725949697815:ios:4083b751d211a0be4ab152</string>
</dict>
</plist>